<form method="post" id="convert-form" action="<%= conversions_convert_path %>">
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6" id="enter-amount-cell">
      <div class="input-group">
        <input name="amount" type="text" id="all-fields" class="form-control" placeholder="Enter Currency Amount" aria-label="Text input with dropdown button">
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <select class="custom-select" id="all-fields" aria-label="Example select with button addon" name="from_ticker">
        <% currencies[:rows].each do |conv| %>
            <option value="<%= conv[:code] %>"><%= conv[:name] %></option>
        <% end %>
      </select>
    </div>
    <div class="col-12">
      <img src="/images/convert-arrows.png" class="mx-auto d-block" />
    </div>
    <div class="col-12 col-sm-6">
      <input class="form-control" id="result" type="text" placeholder="Converted Total" readonly>
    </div>
    <div class="col-12 col-sm-6">
      <select class="custom-select" id="all-fields" aria-label="Example select with button addon" name="to_ticker">
        <% currencies[:rows].each do |conv| %>
            <option value="<%= conv[:code] %>"><%= conv[:name] %></option>
        <% end %>
      </select>
    </div>
    <div class="col-12">
      <button type="submit" id="convert-button" name="submit" value="convert" class="btn btn-info">Convert</button>
    </div>
  </div>
</div>
</form>
<script type="text/javascript">

  $(function () {
    function formatMoney(number, decPlaces, decSep, thouSep) {
      decPlaces = isNaN(decPlaces = Math.abs(decPlaces)) ? 2 : decPlaces,
      decSep = typeof decSep === "undefined" ? "." : decSep;
      thouSep = typeof thouSep === "undefined" ? "," : thouSep;
      var sign = number < 0 ? "-" : "";
      var i = String(parseInt(number = Math.abs(Number(number) || 0).toFixed(decPlaces)));
      var j = (j = i.length) > 3 ? j % 3 : 0;

      return sign +
        (j ? i.substr(0, j) + thouSep : "") +
        i.substr(j).replace(/(\decSep{3})(?=\decSep)/g, "$1" + thouSep) +
        (decPlaces ? decSep + Math.abs(number - i).toFixed(decPlaces).slice(2) : "");
    }
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
      }
    });
      $('#convert-form').find('button[type="submit"]').on('click', function (e) {
        e.preventDefault();
        var data = {
          payload: {
            from_ticker: $('select[name="from_ticker"]').val(),
            to_ticker: $('select[name="to_ticker"]').val(),
            amount: $('input[name="amount"]').val()
          }
        };
        $.post('<%= conversions_convert_path %>',data, function (resp) {
            $('#result').val(formatMoney(parseFloat(resp.amount),2,'.',',') + ' ' + resp.to_ticker);
        });
      });
  });

</script>