<!DOCTYPE html>
<html>
  <head>
    <title>Crypto-Converter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="header">
      <h1 class="main-title">Currency Converter</h1>
    </div>
    <div class="body">
      <%= yield %>
    </div>
    <br />
    <div class="footer">
      <div class="container">
        <div class="col-12" id="footer-text">
          Always up to date conversion rates.
        </div>
        <div class="col-12" id="footer-text">
          Currency rates provided by Cryptonator - <a href="https://www.cryptonator.com/api/">Get API</a>
        </div> 
      </div>
    </div>
  </body>
</html>
